@page "/employeeoverview"

<h1 class="page-title">All employees</h1>

@if (Employees == null)
{
  <p><em>Loading...</em></p>
}
else
{
  <BlazorAgGrid AutoGenerateColumns="true" TRow="Employee" OnSelectionChanged="GridSelectionChanged"  RowData="Employees"></BlazorAgGrid>

    @if (SelectedEmployee != null)
    {
        <div class="card">
            <div class="card-header">
                @SelectedEmployee.FirstName @SelectedEmployee.LastName
            </div>
            <div class="card-body">
                <a class="btn btn-alert-secondary" href="employeeedit/@SelectedEmployee.EmployeeId">edit</a>
                <a class="btn btn-alert-secondary" href="employeeedit/@SelectedEmployee.EmployeeId">view</a>

            </div>
        </div>

    }

  <table class="table">
    <thead>
      <tr>
        <th>Employee ID</th>
        <th>First name</th>
        <th>Last name</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      @foreach (var employee in Employees)
      {
        <tr>
          <td>@employee.EmployeeId</td>
          <td>@employee.FirstName</td>
          <td>@employee.LastName</td>
          <td>
            <a href="@($"employeedetail/{employee.EmployeeId}")" class="btn btn-primary table-btn">
              <i class="fas fa-info-circle"></i>
            </a>
            <a href="@($"employeeedit/{employee.EmployeeId}")" class="btn btn-primary table-btn">
              <i class="fas fa-edit"></i>
            </a>
          </td>
        </tr>
      }
    </tbody>
  </table>
}